
.emoji-animation-container{
  position: relative;
  overflow: hidden;
}

.animated-emoji{
  position: absolute;
  top: 120%;
  height: 2em;
  width: 2em;
  mix-blend-mode: unset;
  pointer-events: none;
}

@keyframes wave {
  from {
    top : 120%;
    transform: translateX(200%);
  }
  25% {
    transform: translateX(-200%);
  }
  40% {
    transform: translateX(200%);
  }
  75% {
    transform: translateX(-220%);
  }
  to {
    top : -20%;
    transform: translateX(0);
  }
}